.MainChat
  .MainChat__Header
    .MainChatHeader__Group 
      .MainChatHeader__GroupName
        = @group.name
      %ul.MainChatHeader__MemberList 
        Member:
        - @group.users.each do |user|
          = user.name
    .MainChat__EditBtn
      = link_to edit_group_path(@group), class:"EditBtn__text" do
        Edit

  .MainChat__MessageField
    = render @messages
  
  .Footer
    = form_with model: [@group, @message], html: {class: "Form__Contents"}, local: true do |f|
      .input
        = f.text_field :content, class: 'input__text', placeholder: 'type a message'
        = f.label :image, class: 'input__image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'File'
      = f.submit 'Send', class: 'Form__SendBtn'