.SideBar
  .SideBar__Header
    .SideBar__SideBox
      %p.UserName
        = current_user.name
      %ul.SideHeader__iconList
        %li.SideHeader__Icon
        = link_to new_group_path, class: "SideHeader__btn" do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user) do
          = icon('fas','cog')
     
  .SideBar__GroupList
    - current_user.groups.each do |group|
      .SideBar__Group
        = link_to '#' do
          .Group__Name 
            = group.name
          .Group__Message メッセージはまだありません